{
  "arrowParens": "avoid",
  "bracketLine": false,
  "bracketSpacing": false,
  "endOfLine": "auto",
  "importOrder": [
    "builtin",
    "external",
    "parent",
    "sibling",
    "index"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "pluginSearchDirs": [
    "."
  ],
  "printWidth": 100,
  "quoteProps": "as-needed",
  "semi": false,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "tabWidth": 2,
  "tailwindStylesheet": "./src/routes/layout.css",
  "trailingComma": "none",
  "useTabs": false
}